body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #feddbb;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 0 0 auto;
}

.logo img {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #2b405b;
}

.attraction-image {
  height: 50vh;
  background-image: url("images/attractions-image.jpeg");
  background-size: cover;
  background-position: center;
}

.main-content {
  padding: 0 20px;
}

.dropdowns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px 0;
}

.dropdowns select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2b405b;
  border-radius: 5px;
  background-color: #fff;
}

.searchResultImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.searchResultImages img {
  width: calc(25% - 15px);
  margin-bottom: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.search-button {
  padding: 10px 20px;
  background-color: #2b405b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #1e293b;
}

footer {
  background-color: #feddbb;
  color: #2b405b;
  padding: 30px 0;
  text-align: center;
}

.footer-top,
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li {
  display: inline;
  margin: 0 10px;
}

.footer-nav ul li a {
  color: #2b405b;
  text-decoration: none;
}

.footer-top {
  border-bottom: 1px solid #2b405b;
}
